@CHARSET "UTF-8";
*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
/* добавим плавность переходов для всех элементов страницы*/
transition: .2s ease-in-out; 
}
html {
  position: relative;
  min-height: 100%;
}
ul {
list-style: none;
}
a {
color: black;
text-decoration: none;
outline: none;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Playfair Display';
font-weight: normal;
letter-spacing: 1px;
}
body {
font-family: 'Open Sans', arial, sans-serif;
font-size: 14px;
line-height: 1;
color: #373737;
background: #D3D3D3;
margin-bottom: 70px;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-item-list li:after {
content: "";
display: table;
clear: both;
} 


/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
margin: 0 auto;
min-height 100%;
max-width: 1500px;
padding: 0 15px;
} 
header {
width: 100%;
background-color: #3C3D41;
box-shadow: 3px 3px 1px rgba(0,0,0,.05);
padding: 8px 0;
margin-bottom: 30px;
position: relative;
}
nav {
width: 100%; 

}
/* логотип */
.logo {
display: block; 
float: left;
}
/* меню */
#menu {
float: right;
margin-right: 15px;
margin-left: 15px;
}
#menu li {
display: inline-block;
margin-top: 15px;
margin-bottom: 15px;
margin-right: 40px;
position: relative;
}
#menu i.fa{
    margin-right: 10px;
	font-size: 18px;
}
#menu a {
color:  #f8f5f2;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 600;
display: block;
line-height: 40px;
}
#menu input a {
color:  #f8f5f2;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 600;
display: block;
line-height: 40px;
}
#menu a:hover {
color: #EF5A42;
}
#menu li:last-child  {
margin-right: 0;
}

#menu li ul{
	position: absolute;
	min-width: 100%;
	z-index: 10;
	display: none;
	
}
#menu li ul li{
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 100%;
	z-index: 10;
	color: #9E9C9C;
	display: block;
	background-color: #3C3D41;;
}
#menu li ul .dropdown-menu_admin{
	min-width: 120%;

	}
#menu li:hover > ul{
	display: block;
}
/* форма поиска my */
#searchform {
z-index: 1;
width: 100%;
margin-left: auto;
margin-right:auto;
outline: none;
display: inline-block;
position: relative;
background-color: #292929;
}
#searchform input {
width: 100%;
float: left;
border: none;
border-radius: 10px;
padding-left: 10px;
height: 40px;
overflow: hidden;
outline: none;
outline-color: initial;
outline-style: none;
outline-width: initial;
color: #9E9C9C;
font-style: italic;
}

#searchform button {
background: transparent;
height: 40px;
border: none;
position: absolute;
right: 10px;
color: #EF5A42;
cursor: pointer;
font-size: 18px;
}
.fa{
	margin-right: 5px;
}
/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
display: none;
position: relative;
float: right;
width: 40px;
height: 40px;
margin-left: 20px;
background: #EF5A42;
cursor: pointer;
}
.nav-toggle span {
display: block;
position: absolute;
top: 19px;
left: 8px;
right: 8px;
height: 2px;
background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
content: "";
position: absolute;
display: block;
left: 0;
width: 100%;
height: 2px;
background: white;
}
.nav-toggle span:before {
top: -10px;
}
.nav-toggle span:after {
bottom: -10px;
}
/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
#menu.active {
max-height: 500px;
text-align: center;
}
/* левый контейнер */
.item-list {
margin-bottom: 30px;
width: 72%;
float: left;
}


/* правый контейнер */
aside {
width: 25%;
float: right;
}
/* блок для виджетов */
.widget {
padding: 20px 15px;
background: white;
font-size: 13px;
margin-bottom: 30px;
box-shadow: 3px 3px 1px rgba(0,0,0,.05);
}
.widget-title {
font-size: 18px;
padding: 10px;
margin-bottom: 20px;
text-align: center;
border: 2px solid #292929;
box-shadow: 3px 3px 0 0 #292929;
}
.widget-category-list li {
border-bottom: 1px solid #EBEBE3;
padding: 10px 0;
color: #c6c6c6;
font-style: italic;
}
.widget-category-list li:last-child {
border-bottom: none;
}
.widget-category-list li a {
color: #626262;
margin-right: 6px;
font-style: normal;
}
.widget-category-list li a:before {
content: "\f105";
display: inline-block;
font-family: 'FontAwesome';
margin-right: 10px;
color: #c6c6c6;
}
.widget-item-list li {
border-top: 1px solid #EBEBE3;
padding: 15px 0;
}
.widget-item-list li:nth-child(1){
border-top: none;
}
.post-image-small {
width: 20%;
float: left;
margin-right: 15px;
}
.widget-post-title {
float: left;
}
footer {
position: absolute;
bottom: 0;
width: 100%;
height: 70px;
margin-top: 32px;
padding: 30px 0;
background: #3C3D41;
color: white;
}
.footer-col {
width: 33.3333333333%;
float: left;
}
.footer-col a {
color: white;
}
.footer-col:last-child {
text-align: right;
}
.social-bar-wrap {
text-align: center;
}
.social-bar-wrap a {
padding: 0 7px;
font-size: 18px;
}


/* Tablica na glavnoi stranice */
.table {
	width: 100%;
}
.table-with-titles{
	border-collapse:collapse
}
.table-with-titles td, .table-with-titles th{
	border-bottom:1px solid #acacac;
}

.table-title h2 a{
	margin-left: 2%; 
	color:#EF5A42 !important
}
.table-title{
	border:0 !important;
	border-radius:4px;
	padding-top:10px !important;
	margin:0;font-weight:bold;
	background-color:#444 !important;
	color:#444;
	text-rendering:optimizelegibility;
	line-height:27px;
	font-size:18px;}
.table-title h2 a{
	color:#fff !important
}
.table-with-titles th a{color:#fff !important}
.h-nostyle{line-height:inherit;font-size:inherit;font-weight:inherit;}
.pull-right{float:right;}
.pull-left{float:left;}
.branch-title{font-weight:bold;line-height:18px;font-size:14px;}
.forum-sections-branch-description-container{font-style:italic;font-size:12px}
#topics-table .topics-posts {
    font-size: 12px;
}
.title-col{width: 60%}

a:hover{
	color:#EF5A42;
	text-decoration:underline
}
	
.table th, .table td {
    padding: 8px;
    line-height: 16px;
    text-align: left;
    border-radius: 10px;
}
.title-col{
	width: 60%
	}
	
 /*Tablica na glavnoi stranice*/
.space-left-small:before{
	content:" "
	}
/* Table where show list users */
.table_list {
	width: 100%;
	margin-bottom: 18px; /*Отступ снизу от таблицы*/
    padding: 0; /*Отступы внутри таблицы*/
    font-size: 13px; /*Размер шрифта*/
    border: 1px solid #dddddd; /*Граница таблицы*/
    border-spacing: 0; /*Отступы между границами ячеек*/
    border-collapse: separate; /*Границы ячеек не склеиваются*/
    border-radius: 5px; /*Радиус скругления углов у таблицы*/
    color: #666666; /*Цвет текста в таблице*/
	font-family: Arial; /*Семейство шрифтов*/
}
.table_list th,
.table_list td{
	width:16%;
	padding: 10px 10px 9px; /*Отступы внутри ячеек*/
    line-height: 18px; /*Межстрочный интервал*/
    text-align: left; /*Выравнивание текста по левому краю*/
}
.table_list th{
	padding-top: 9px; /*Отступы внутри ячеек*/
    font-weight: bold; /*Установка жирного начертания шрифта*/
    vertical-align: middle; /*Выравнивание по вертикали. Текст находится по середине*/
    color: black; /*Черный цвет в ячейках заголовков таблицы*/
}
.table_list td{
	vertical-align: top; /*Выравнивание содержимого ячейки по верхнему краю*/
    border-top: 1px solid #ddd; /*Верхняя граница ячейки*/
}
.table_list th+th,.table_list td+td,.table_list th+td {
    border-left: 1px solid #ddd; /*Стиль для левой границы между двумя ячейками*/
}
.table_list thead tr:first-child th:first-child, /*Первая строка первая ячейка в заголовке таблицы*/
.table_list tbody tr:first-child td:first-child /*Первая строка первая ячейка в теле таблицы*/{
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}
.table_list thead tr:first-child th:last-child, /*Первая строка последняя ячейка в заголовке таблицы*/
.table_list tbody tr:first-child td:last-child /*Первая строка последняя ячейка в теле таблицы*/ {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}	
.table_list tbody tr:last-child td:first-child  /*Последняя строка первая ячейка в теле таблицы*/ {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.table_list tbody tr:last-child td:last-child  /*Последняя строка последняя ячейка в теле таблицы*/{
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.table_list tr:hover {
    background-color: #f2f2f2; /*Цвет строки при наведении курсора мыши*/
}
	

/* Table where show list users */
/* для ошибок*/
body .error-message{
	color: #f71d1d;
	text-decoration: underline;
}

/* кнопка*/
.btn{
 	display: inline-block;
	margin-bottom: 2px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 2px solid black;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 10px;
	background-color: #292929;
	color: #ddd;
	width:100%;
	height: 50px; 
}
.post_content_tr .edit_answer_btn, 
.post_content_tr .edit_question_btn{
	height: 40px;
}
.signUp_btn{
	width: 326px;;
}

.btn:hover{
	border: 2px solid black;
	border-radius: 10px;
	background-color: #EF5A42;
	color: white;
}
/* для таблицы отступы и черта */
th, td{
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
/* при некоректном вводе */
.error {
	color: #EF5A42;
}
/*			table question style			*/

.container .title_question{
	text-align: center;
}
.post{
	width: 100%;
}
.left-column{
	width: 20%;
}
.right-column{
	width: 79%;
}
.table_question{
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
.table_question td{
	border: 1px solid #000;
}
.post_user_avatar{
	width: 100px;
	height: 100px;
}
.post_content_tr button{
	width: 100px;
	height: 30px;
}
.login_user h3{
font-weight: bold;
color: red;
}
.average_mark,
 .login_user{
	margin: 3px 0;
}


/*			table question style			*/

/*  <!-- POP UP логинация -->Всплывающая форма */

.modal-content {
	position: absolute;
	top: 120px;
	left: 50%;
	display: none;
	z-index: 40;
	width: 400px;
	margin-left: -230px;
	padding: 50px 80px;
	
	color: #000000;
	
	background: #f8f3f0 url("../img/pattern-white.gif");
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}



/* кнопка закрыть */
.modal-content-close {
	position: absolute;
	top: 0;
	right: -30px;
	width:22px;
	height:22px;
	
	background-color: transparent;
	
	font-size: 0;
	
	border: 0;
	outline: 0;
	cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 10px;
	right:2px;
	width: 19px;
	height: 3px;
	
	background-color: #d0d0d0;
	border-radius: 1px;
}
.modal-content-close::before{
	transform: rotate(45deg);
}
.modal-content-close::after{
	transform: rotate(-45deg);
}
.modal-content h2 {
	margin: 0;
	padding-bottom: 20px;
	
	font-size: 30px;
	line-height: 42px;
}

.modal-content p {
	margin: 0;
	margin-bottom: 14px;
}
.modal-content .login-form {
	margin-top: 30px;
	margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
	width: 250px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #f9f6f3;
	border: 2px solid #000000;
	outline: none;
}
.login-form input:focus {
	border-color: #663d15;
}
.login-form input.icon-user {
	background-image: url("../img/user-login.png");
	background-repeat: no-repeat;
	background-position: 95%;
}

.login-form input.icon-password {
	background-image: url("../img/loked.png");
	background-repeat: no-repeat;
	background-position: 95%;
}
.login-form .restore-left {
	float: left;
	color: #000000;
}
.login-form .restore-right {
	float: right;
	color: #000000;
}
.login-checkbox input[type="checkbox"]{
	display: none;
}
.login-form .btn {
	width: 100%;
	margin-top: 15px;
}
.login-checkbox{
	position: relative;
	padding-left: 30px;
	
	cursor: pointer;
}
.login-checkbox:hover {
	color: #663d15;
}
/* отрисовка чек бокса*/

.login-checkbox input[type="checkbox"] + 
	.checbox-indicator{
		position: absolute;
		top: -3px;
		left: 0;
		
		width: 17px;
		height: 17px;
		
		border: 2px solid #000000;
	
	
}
.login-checkbox input[type="checkbox"]:checked + 
	.checbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + 
	.checbox-indicator::after{
		content: "";
		position: absolute;
		top: 6px;
		left: -1px;
		
		width: 15px;
		height: 2px;
		background-color: #000000;
	}
.login-checkbox input[type="checkbox"]:checked + 
	.checbox-indicator::before
	{
		transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + 
	.checbox-indicator::after{
		transform: rotate(-45deg);
}
/*------------------------cabinet---------------------------*/
/* Общие стили для контентных стилей */

.inner-content {
	margin-bottom: 75px;
}
.inner-content h2 {
	margin-top:3px;
	margin-bottom: 3px;
	font-size: 24px;
	line-height: 30px;
}
.inner-content h2+h2 {
	padding-top: 30px;
}
.inner-content p {
	margin: 15px 0;
}
.inner-content table {
	border-collapse: collapse;
}
.inner-content td {
	padding: 10px;
	
}
.h-header{
	margin-bottom: 3px;
	font-size: 18px;
	line-height: 30px;
}
/* Особые стили для контентных тегов */

.big-heading {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	z-index: 15;
}

.big-heading h2 {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 0;
	padding: 0 25px;
	
	font-size: 45px;
	line-height: 48px;
	text-align: center;
	background: #f8f3f0 url("../img/pattern-white.gif") repeat;
}
.big-heading::after {
	content: "";
	position: relative;
	top: -25px;
	z-index: 1;
	display: block;
	border-bottom: 2px solid #000000;
}
.custom-list-1 {
	margin: 14px 0;
	padding: 0;

	list-style: none;
}
.custom-list-1 li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}
.custom-list-1 li::before {
	content: "";
	position: absolute;
	top:3px;
	left: 0px;
	
	height: 8px;
	width: 8px;
	
	background-color: #000000;
	transform: rotate(45deg); 
}
.cabinet-inner-column-left
 {
	width: 30%;
	float: left;
}

.cabinet-inner-column-right{
	width: 65%;
	float: right;
}
.cabinet-inner-column-left .btn{
	
	width: 60%;
	margin-bottom: 10px;
	
}
.cabinet-user-content{
	margin-left: 30px;
	margin-right: 12px;
	margin-top: 5px;
}
.cabinet-user-content2{
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 5px;
}

.table-inner{
	border:0 !important;
	border-radius:4px;
	padding-top:5px !important;
	margin:0;font-weight:bold;
	background-color:#444 !important;
	color:#444;
	text-rendering:optimizelegibility;
	line-height:27px;
	font-size:18px;
}
.table-inner h2 {
	    padding-left: 15px;
}
.table-inner h2 {
	color:#fff !important
}
.title-col{
	margin-top: 15px;
}
.col1{
	width: 60%;
}
.col2{
	width: 15%;
}
.col3{
	width: 25%;
}
.col3 .btn{
	height: 30px;
	width: 100%;
	margin-right: 5px;
}
/*------------------------cabinet---------------------------*/
/* Всплывающая форма cabinet>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.modal-content-edit {
	position: fixed;
	top: 120px;
	left: 50%;
	display: none;
	z-index: 40;
	width: 380px;
	margin-left: -220px;
	padding: 50px 20px;
	
	color: #000000;
	
	background: #f8f3f0 url("../img/pattern-white.gif");
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal_create_qestion{
	width: 800px;
	left: 38%;
}
.login-form1-cabinet input[type="text"],
.login-form1-cabinet input[type="password"] {
	width: 180px;
	margin: 0;
	margin-left: 30px;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #f9f6f3;
	border: 2px solid #000000;
	outline: none;
}
.cabinet-user-content{
	margin-left: 25px;
	margin-right: 25px;
}
.modal-content-edit .btn{
	width: 100%;
}
/* Всплывающая форма cabinet>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Rate>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   */
.rate_action{
	margin-top: 10px;
}
 /* выстроим элементы в линию */
.rating:not(:checked) > input {
  display: none;
  }
/*позиционированного элемента от верхнего края родительского элемента до верхнего края дочернего элемента.*/ 
#rate {
	width: 60%
}
/*  :not задаёт правила стилей для элементов, которые не содержат указанный селектор.
:checked применяется к radio, когда они находятся в включенном режиме 
*/
#rate:not(:checked) > label {
  cursor:pointer;
  float:right;
  font-size: 20pt;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 10% 3%;
  margin-top:3%;
  color: #a1a1a1;
  line-height: 15px;
  text-align: center;
}/*режим наведения  при наведении меняеться цвет */
#rate:not(:checked) > label:hover, /* принимает  цвет при наведении*/ 
#rate:not(:checked) > label:hover ~ 
 label { color:  #fe9506;
 } /* остаються в выбранном цвете предыдущие элементы*/
 /* выбранный элемент при нажатии применит цвет */ 
#rate > input:checked ~ label {color:  #fe9506;}
 /* Rate>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   */


/*			pagination			*/
.pagination{
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;;
	margin-right: auto;
}

.pagination a {
	padding: 6px 6px;
	border: 1px solid #ccc;
}
.pagination a.active,
.pagination a:HOVER{
	background: #878787;
	border: 1px solid #878787;
}
/*			pagination			*/

/*			Создание вопроса		*/
.container .form_item {
	width:100%;
	top: 100px;
	left: 40%;
}
.form_item span{
	text-align:  center;
	display: block;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 10px;
	margin-top: 10px;
	
}
.form_item input[type="text"],
.form_item textarea{
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom: 10px;
	padding-left:10px;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000000;
	background-color: #f9f6f3;
	border: 2px solid #000000;
	outline: none;
}
.form_item textarea{
	 height: 450px;
	}
.form_item .btn{
	width: 90%;	
	margin-left:5%;
	margin-right:5%;
}

/*			Создание вопроса		*/
@media (max-width: 768px) {
/* показываем кнопку для переключения верхней навигации */
.nav-toggle {
display: block;
}
header {
padding: 10px05;
}
/* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */ 
#menu {
max-height: 0;
background: white;
float: none;
position: absolute;
overflow: hidden;
top: 63px;
right: 0;
left: 0;
margin: 0;
padding: 0;
z-index: 3;
}
#menu a {
color:  #292929;
}
/* делаем элементы списка блочными, чтобы они располагались друг под другом */
#menu li {
display: block;
padding-left: 15px;
border-bottom: 1px solid #EBEBE3;
margin-right: 0;
}
/* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
.item-list, aside {
width: 100%;
float: clear;
}

.widget-post-title {
font-size: 1.5em;
}

.cabinet-inner-column-left
 {
	width: 30%;
	float: none;
}

.cabinet-inner-column-right{
	width: 70%;
	float: left;
}
.cabinet-inner-column-left .btn{
	
	width: 60%;
	margin-bottom: 10px;
	
}

}
@media (max-width: 480px) {
body .modal-content-edit {
	top: 50px;
	z-index: 40;
	width: 350px;
	margin-left: -180px;
	color: #000000;
}
.form_item textarea{
	 width: 270px;
	 height: 200px;
	}

/* выравниванием логотип по центру */
nav {
text-align: center;
width: 100%;
}
#menu a {
color:  #292929;
}
/* отменяем обтекание для логотипа */
.logo {
float: none;
margin-bottom: 15px;
}
/* позиционируем меню на увеличившуюся высоту шапки */
#menu {
top: 140px;
}
/* позиционируем форму поиска по левому краю */
#searchform {
margin-left: 0;
width:80%;
}
.item-list li{
	margin-left: 20%;
}
/* убираем верхнюю и нижнюю границы и выравниваем кнопку по центру */
.post-footer {
border-top: none;
border-bottom: none;
text-align: center;
}
/* отменяем позиционирование кнопок соцсетей */
.post-social {
position: static;
text-align: center;
transform: none;
margin-top: 20px;
}
.widget-post-title {
font-size: 1.2em;
}
/* отменяем обтекание для столбцов подвала страницы */
.footer-col {
float: none;
margin-bottom: 20px;
width: 100%;
text-align: center;
}
.footer-col:last-child {
text-align: center;
margin-bottom: 0;
}
.latest-by{
	display: none;
}
.topics-posts{
	display: none;
}
.cabinet-inner-column-left
 {
	width: 100%;
	float: none;
}

.cabinet-inner-column-right{
	width: 100%;
	float: none;
}
.cabinet-inner-column-left .btn{
	
	width: 100%;
	margin-bottom: 10px;
	
}
.footer {
position: inherit;
height: 120px;
bottom: 0;
}
.col3 .btn{
	width: 100%;
	margin-right: 5px;
}.col2 {
	display: none;
}
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   FOR JAVASCRIPT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 35;
	width: 100%;
	height: 100%;
	
	background: rgba(0,0,0,0.5);
}
.modal-content-show {
	display: block;
	animation: bounce 0.6s;
}

 .modal-error {    
	animation: shake 0.6s;   
} 

/* анимация POPUP*/

 @keyframes bounce {     
	0%   { transform: translateY(-2000px); }
	70%  { transform: translateY(30px);    }
	90%  { transform: translateY(-10px);   } 
    100% { transform: translateY(0);       }
} 

 @keyframes shake {
     0%, 100%                { transform: translateX(0);     }
     10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
     20%, 40%, 60%, 80%      { transform: translateX(10px);  }
 }
